<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the colecao_init() hook (in hooks/colecao.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="colecao-colecao-<%%VALUE(id)%%>" class="colecao-colecao"><%%SELECT%%><%%VALUE(colecao)%%><%%ENDSELECT%%></td>
		<td id="colecao-codigo_colecao-<%%VALUE(id)%%>" class="colecao-codigo_colecao"><%%SELECT%%><%%VALUE(codigo_colecao)%%><%%ENDSELECT%%></td>
