<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the grupo_init() hook (in hooks/grupo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="grupo-colecao-<%%VALUE(id)%%>" class="grupo-colecao"><%%SELECT%%><%%VALUE(colecao)%%><%%ENDSELECT%%></td>
		<td id="grupo-grupo-<%%VALUE(id)%%>" class="grupo-grupo"><%%SELECT%%><%%VALUE(grupo)%%><%%ENDSELECT%%></td>
		<td id="grupo-codigo_grupo-<%%VALUE(id)%%>" class="grupo-codigo_grupo"><%%SELECT%%><%%VALUE(codigo_grupo)%%><%%ENDSELECT%%></td>
