		<td class = "is-archived" colspan="11" class="row" myid = "<%%VALUE(id)%%>">
			<div id="item-titulo-<%%VALUE(id)%%>" class="item-titulo col-sm-12 h5 text-bold" style="margin-bottom: 0px;">
				<%%SELECT%%>
				<%%VALUE(titulo)%%>
				<%%ENDSELECT%%>
			</div>
			<div class="row">
				<div class="col col-md-2" style="padding-right: 4px;padding-left: 10px;margin-bottom: 20px;">
						<div id="imagesThumbs-<%%VALUE(id)%%>" class="thumbs" title="<%%VALUE(id)%%>" hidden>
							<%%VALUE(id)%%>
						</div>
						<br>
						<div class="hidden-print">
							<button id="addToList-<%%VALUE(id)%%>" type="button" class="btn btn-default addToList" title="Adicionar / Remover aos Salvos" onclick="addToList(<%%VALUE(id)%%>);" myid="<%%VALUE(id)%%>" hidden="" ><i class="glyphicon glyphicon-unchecked" myid="<%%VALUE(id)%%>"></i></button>
							<button id="downloadOtherFiles-<%%VALUE(id)%%>" type="button"  onclick="openOtherFiles(<%%VALUE(id)%%>);" class="btn btn-info"  hidden>Download</button>
						</div>
				</div>
				<div class="col-md-5" style="padding-left: 0px;">
					<dl class="dl-horizontal">
						<dt class="item-titulo_atribuido-caption field-caption-tv">T&#237;tulo Atribu&#237;do</dt>
						<dd id="item-titulo_atribuido-<%%VALUE(id)%%>" class="item-titulo_atribuido"><%%SELECT%%><%%VALUE(titulo_atribuido)%%><%%ENDSELECT%%></dd>

						<dt class="item-descricao-caption field-caption-tv">Descri&#231;&#227;o:</dt>
						<dd id="item-descricao-<%%VALUE(id)%%>" class="item-descricao"><%%SELECT%%><%%VALUE(descricao)%%><%%ENDSELECT%%></dd>

						<dt class="item-identificacao-caption field-caption-tv">Identifica&#231;&#227;o:</dt>
						<dd id="item-identificacao-<%%VALUE(id)%%>" class="item-identificacao"><%%SELECT%%><%%VALUE(identificacao)%%><%%ENDSELECT%%></dd>

						<dt class="item-colecao-caption field-caption-tv">Cole&#231;&#227;o:</dt>
						<dd id="item-colecao-<%%VALUE(id)%%>" class="item-colecao"><%%SELECT%%><%%VALUE(colecao)%%><%%ENDSELECT%%></dd>

						<dt class="item-colecao_codigo-caption field-caption-tv">C&#243;digo da Cole&#231;&#227;o:</dt>
						<dd id="item-colecao_codigo-<%%VALUE(id)%%>" class="item-colecao_codigo"><%%SELECT%%><%%VALUE(colecao_codigo)%%><%%ENDSELECT%%></dd>

						<dt class="item-grupo-caption field-caption-tv">Grupo:</dt>
						<dd id="item-grupo-<%%VALUE(id)%%>" class="item-grupo"><%%SELECT%%><%%VALUE(grupo)%%><%%ENDSELECT%%></dd>

						<dt class="item-grupo_codigo-caption field-caption-tv">C&#243;digo do Grupo:</dt>
						<dd id="item-grupo_codigo-<%%VALUE(id)%%>" class="item-grupo_codigo"><%%SELECT%%><%%VALUE(grupo_codigo)%%><%%ENDSELECT%%></dd>

						<dt class="item-serie-caption field-caption-tv">S&#233;rie:</dt>
						<dd id="item-serie-<%%VALUE(id)%%>" class="item-serie"><%%SELECT%%><%%VALUE(serie)%%><%%ENDSELECT%%></dd>

						<dt class="item-serie_codigo-caption field-caption-tv">C&#243;digo da S&#233;rie:</dt>
						<dd id="item-serie_codigo-<%%VALUE(id)%%>" class="item-serie_codigo"><%%SELECT%%><%%VALUE(serie_codigo)%%><%%ENDSELECT%%></dd>

						<dt class="item-subserie-caption field-caption-tv">Subs&#233;rie:</dt>
						<dd id="item-subserie-<%%VALUE(id)%%>" class="item-subserie"><%%SELECT%%><%%VALUE(subserie)%%><%%ENDSELECT%%></dd>

						<dt class="item-tipologia-caption field-caption-tv">Tipologia / Esp&#233;cie:</dt>
						<dd id="item-tipologia-<%%VALUE(id)%%>" class="item-tipologia"><%%SELECT%%><%%VALUE(tipologia)%%><%%ENDSELECT%%></dd>

						<dt class="item-date-caption field-caption-tv">Data:</dt>
						<dd id="item-date-<%%VALUE(id)%%>" class="item-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></dd>

						<dt class="item-data_livre-caption field-caption-tv">Data / Per&#237;odo:</dt>
						<dd id="item-data_livre-<%%VALUE(id)%%>" class="item-data_livre"><%%SELECT%%><%%VALUE(data_livre)%%><%%ENDSELECT%%></dd>

						<dt class="item-data_atribuida-caption field-caption-tv">Data Atribu&#237;da</dt>
						<dd id="item-data_atribuida-<%%VALUE(id)%%>" class="item-data_atribuida"><%%SELECT%%><%%VALUE(data_atribuida)%%><%%ENDSELECT%%></dd>

						<dt class="item-autoria-caption field-caption-tv">Autoria:</dt>
						<dd id="item-autoria-<%%VALUE(id)%%>" class="item-autoria"><%%SELECT%%><%%VALUE(autoria)%%><%%ENDSELECT%%></dd>

						<dt class="item-quantidade-caption field-caption-tv">Quantidade:</dt>
						<dd id="item-quantidade-<%%VALUE(id)%%>" class="item-quantidade"><%%SELECT%%><%%VALUE(quantidade)%%><%%ENDSELECT%%></dd>

						<dt class="item-idioma-caption field-caption-tv">Idioma:</dt>
						<dd id="item-idioma-<%%VALUE(id)%%>" class="item-idioma"><%%SELECT%%><%%VALUE(idioma)%%><%%ENDSELECT%%></dd>

						<dt class="item-local_producao-caption field-caption-tv">Local de Produ&#231;&#227;o:</dt>
						<dd id="item-local_producao-<%%VALUE(id)%%>" class="item-local_producao"><%%SELECT%%><%%VALUE(local_producao)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-4">
				<dl class="dl-horizontal">
					<dt class="item-local_publicacao_veiculo-caption field-caption-tv">Ve&#237;culo de Publica&#231;&#227;o:</dt>
					<dd id="item-local_publicacao_veiculo-<%%VALUE(id)%%>" class="item-local_publicacao_veiculo"><%%SELECT%%><%%VALUE(local_publicacao_veiculo)%%><%%ENDSELECT%%></dd>

						<dt class="item-local_publicacao-caption field-caption-tv">Local de Publica&#231;&#227;o:</dt>
						<dd id="item-local_publicacao-<%%VALUE(id)%%>" class="item-local_publicacao"><%%SELECT%%><%%VALUE(local_publicacao)%%><%%ENDSELECT%%></dd>

						<dt class="item-tipo_publicacao-caption field-caption-tv">Tipo de Publica&#231;&#227;o:</dt>
						<dd id="item-tipo_publicacao-<%%VALUE(id)%%>" class="item-tipo_publicacao"><%%SELECT%%><%%VALUE(tipo_publicacao)%%><%%ENDSELECT%%></dd>

						<dt class="item-genero-caption field-caption-tv">G&#234;nero:</dt>
						<dd id="item-genero-<%%VALUE(id)%%>" class="item-genero"><%%SELECT%%><%%VALUE(genero)%%><%%ENDSELECT%%></dd>

						<dt class="item-forma-caption field-caption-tv">Forma:</dt>
						<dd id="item-forma-<%%VALUE(id)%%>" class="item-forma"><%%SELECT%%><%%VALUE(forma)%%><%%ENDSELECT%%></dd>

						<dt class="item-formato-caption field-caption-tv">Formato:</dt>
						<dd id="item-formato-<%%VALUE(id)%%>" class="item-formato"><%%SELECT%%><%%VALUE(formato)%%><%%ENDSELECT%%></dd>

						<dt class="item-escritura-caption field-caption-tv">Escritura:</dt>
						<dd id="item-escritura-<%%VALUE(id)%%>" class="item-escritura"><%%SELECT%%><%%VALUE(escritura)%%><%%ENDSELECT%%></dd>

						<dt class="item-suporte-caption field-caption-tv">Suporte:</dt>
						<dd id="item-suporte-<%%VALUE(id)%%>" class="item-suporte"><%%SELECT%%><%%VALUE(suporte)%%><%%ENDSELECT%%></dd>

						<dt class="item-dimensao-caption field-caption-tv">Dimens&#227;o:</dt>
						<dd id="item-dimensao-<%%VALUE(id)%%>" class="item-dimensao"><%%SELECT%%><%%VALUE(dimensao)%%><%%ENDSELECT%%></dd>

						<dt class="item-estado_conservacao-caption field-caption-tv">Estado de Conserva&#231;&#227;o:</dt>
						<dd id="item-estado_conservacao-<%%VALUE(id)%%>" class="item-estado_conservacao"><%%SELECT%%><%%VALUE(estado_conservacao)%%><%%ENDSELECT%%></dd>

						<dt class="item-observacoes-caption field-caption-tv">Observa&#231;&#245;es:</dt>
						<dd id="item-observacoes-<%%VALUE(id)%%>" class="item-observacoes"><%%SELECT%%><%%VALUE(observacoes)%%><%%ENDSELECT%%></dd>

						<dt class="item-documentos_relacionados-caption field-caption-tv">Documentos Relacionados:</dt>
						<dd id="item-documentos_relacionados-<%%VALUE(id)%%>" class="item-documentos_relacionados"><%%SELECT%%><%%VALUE(documentos_relacionados)%%><%%ENDSELECT%%></dd>

						<dt class="item-numero_caixa-caption field-caption-tv">N&#250;mero da Caixa:</dt>
						<dd id="item-numero_caixa-<%%VALUE(id)%%>" class="item-numero_caixa"><%%SELECT%%><%%VALUE(numero_caixa)%%><%%ENDSELECT%%></dd>

						<dt class="item-nome_caixa-caption field-caption-tv">Nome da Caixa:</dt>
						<dd id="item-nome_caixa-<%%VALUE(id)%%>" class="item-nome_caixa"><%%SELECT%%><%%VALUE(nome_caixa)%%><%%ENDSELECT%%></dd>

						<dt class="item-numero_pasta-caption field-caption-tv">N&#250;mero da Pasta:</dt>
						<dd id="item-numero_pasta-<%%VALUE(id)%%>" class="item-numero_pasta"><%%SELECT%%><%%VALUE(numero_pasta)%%><%%ENDSELECT%%></dd>

						<dt class="item-nome_pasta-caption field-caption-tv">Nome da pasta:</dt>
						<dd id="item-nome_pasta-<%%VALUE(id)%%>" class="item-nome_pasta"><%%SELECT%%><%%VALUE(nome_pasta)%%><%%ENDSELECT%%></dd>

						<dt class="item-upload-caption field-caption-tv">Upload</dt>
						<dd id="item-upload-<%%VALUE(id)%%>" class="item-upload"><a href="link.php?t=item&f=upload&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(upload)%%>" class="btn btn-default"><i class="glyphicon glyphicon-file text-info"></i></a></dd>

						<dt class="item-publicar-caption field-caption-tv">Publicar</dt>
						<dd id="item-publicar-<%%VALUE(id)%%>" class="item-publicar"><%%SELECT%%><%%VALUE(publicar)%%><%%ENDSELECT%%></dd>

											<dd id="item-uploads-<%%VALUE(id)%%>" class="item-uploads" hidden=""><%%VALUE(uploads)%%></dd>
					</dl>
				</div>
			</div>
		</td>
		<script
		>$j(function(){
			var e_upload = '<%%VALUE(upload)%%>'; 
			if(e_upload == '' || e_upload == '&nbsp;') $j(/*<*/ '#item-upload-<%%VALUE(id)%%>' /*>*/).html('');
			});
		</script>
