		<td colspan="6" class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="items_salvos-memberID-caption field-caption-tv">MemberID</dt>
					<dd id="items_salvos-memberID-<%%VALUE(id)%%>" class="items_salvos-memberID"><%%VALUE(memberID)%%></dd>

					<dt class="items_salvos-tableName-caption field-caption-tv">TableName</dt>
					<dd id="items_salvos-tableName-<%%VALUE(id)%%>" class="items_salvos-tableName"><%%VALUE(tableName)%%></dd>

					<dt class="items_salvos-pkValue-caption field-caption-tv">PkValue</dt>
					<dd id="items_salvos-pkValue-<%%VALUE(id)%%>" class="items_salvos-pkValue"><%%VALUE(pkValue)%%></dd>

					<dt class="items_salvos-groupID-caption field-caption-tv">GroupID</dt>
					<dd id="items_salvos-groupID-<%%VALUE(id)%%>" class="items_salvos-groupID"><%%VALUE(groupID)%%></dd>

					<dt class="items_salvos-dateAdded-caption field-caption-tv">DateAdded</dt>
					<dd id="items_salvos-dateAdded-<%%VALUE(id)%%>" class="items_salvos-dateAdded"><%%VALUE(dateAdded)%%></dd>

					<dt class="items_salvos-text-caption field-caption-tv">Text</dt>
					<dd id="items_salvos-text-<%%VALUE(id)%%>" class="items_salvos-text"><%%VALUE(text)%%></dd>

				</dl>
			</div>
		</td>
