<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_publicacao_init() hook (in hooks/tipo_publicacao.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_publicacao-tipo_publicacao-<%%VALUE(id)%%>" class="tipo_publicacao-tipo_publicacao"><%%VALUE(tipo_publicacao)%%></td>
